<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.movefile.script.plist</string>

    <key>RunAtLoad</key>
    <true/>

    <key>StartInterval</key>
    <integer>5</integer>

    <key>WorkingDirectory</key>
    <string>~/automation/</string>

    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/python3</string>
        <string>moveFile.py</string>
    </array>

    <key>StandardErrorPath</key>
    <string>/Users/username/automation/logs/moveFile_stderr.log</string>
    
    <key>StandardOutPath</key>
    <string>/Users/username/automation/logs/moveFile_stdout.log</string>

</dict>
</plist>
